<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/core.css">
    <title>Clients</title>
</head>
<body>
{{> navigation}}
<main>
    {{^user}}
        <form action="/login" method="post">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
            <div><label> User Name : <input type="text" name="username"/> </label></div>
            <div><label> Password: <input type="password" name="password"/> </label></div>
            <div><input class="material-icons" type="submit" style="font-family: auto"></div>
        </form>
    {{/user}}

    {{#user}}
        Hi, {{.}}. You have next roles: {{#roles}}{{.}} {{/roles}}.
    {{/user}}

    {{#user}}
        <form id="logout" action="/logout" method="post">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
            <button type="submit" class="material-icons" style="font-family: auto">Logout</button>
        </form>
    {{/user}}
</main>
</body>
</html>