<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/core.css">
    <title>Banks</title>
</head>

<body>
{{> navigation}}
<main>
    <h2>Banks</h2>
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Action</th>
        </tr>

        {{#banks}}
            <tr>
                <td>{{id}}</td>
                <td>{{name}}</td>
                <td>
                    <table class="no-border">
                        <tr>
                            <td>
                                <form hidden="true" name="edit" action="/bank/edit" method="post">
                                    <input type="hidden" name="id" value="{{id}}"/>
                                    <label>Name <input type="text" name="name" value="{{name}}"/></label>
                                    <input class="material-icons" type="submit" value="update"/>
                                </form>
                                <input class="material-icons unhideForm" type="submit" value="update"/>
                            </td>
                            <td>
                                <form name="delete" action="/bank/{{id}}/delete/" method="get">
                                    <input class="material-icons" type="submit" value="delete"/>
                                </form>
                            </td>
                        </tr>
                    </table>
            </tr>
        {{/banks}}
    </table>

    <div>
        <form hidden="true" name="bank" action="/bank/add" method="post">
            <table class="no-border" style="">
                <tr>
                    <td>Name: <input type="text" name="name"/><br/></td>
                    <td><input class="material-icons" type="submit" value="add"/></td>
                </tr>
            </table>
        </form>
        <input class="material-icons unhideForm" type="submit" value="add"/>
    </div>

</main>
<script src="js/helpers.js"></script>
</body>
</html>